$deep-purple: #31087d;
$gray-purple: #62506d;
$deep-pink: #fa31b5;
$deep-yellow: #ffc23e;
$white: #ffffff;
$light-shadow: #161616;

$theme-primary: $deep-pink;
$theme-secondary: $deep-purple;
$theme-tertiary: $deep-yellow;
$theme-gradient-transition: $gray-purple;
$theme-text-detail: $white;

.element {
  @debug $theme-primary;
}
