@import "color";

@mixin background-theme {
  background: linear-gradient(
    0.25turn,
    $deep-purple,
    $theme-gradient-transition,
    $deep-pink
  );
  margin: 15px 0;
  padding: 0;
  width: 100vw;
  height: 96vh;
}

@mixin flex($direction: column, $align: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
}

@mixin image-size() {
  padding: 1em;
  margin: 1em;
  width: 100%;
  max-width: 750px;
  max-height: 550px;
}

@mixin game-image() {
  margin-left: 5.22em;
  width: 355px;
  height: 235px;
  border-radius: 10px;
}

@mixin flex-game-choices($align: center) {
  display: flex;
  justify-content: $align;
}

@mixin result-styling {
  color: $theme-text-detail;
  text-align: center;
  font-size: 2em;
  margin: 10px;
}

@mixin score-styling {
  color: $theme-text-detail;
  text-align: center;
  font-size: 1.5em;
}

@mixin table-styling {
  border: 1px solid $theme-text-detail;
  margin: 0 auto;
}
