* {
outline: 1px solid red;
}

body {
  background-color: hsl(261, 88%, 26%, 0.75);
  margin: 0;
  padding: 0;
}

/******* 
header 
*******/

h1 {
  color: #ffc23e;
  text-align: center;
}
li {
  color: #fa31b5;
}
nav ul {
  list-style: none;
}
nav a {
  color: #fa31b5;
  text-decoration: none;
}
nav a:hover {
  color: #ffc23e;
}


/******* 
main 
*******/

.game-choices {
  color: white;
}

/******* 
footer 
*******/