/* * {
  outline: 1px solid red;
} */

body {
  background: linear-gradient(
    0.25turn,
    rgb(49, 8, 125),
    rgb(98, 80, 109),
    #fa31b5
  );

  margin: 15px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/******* 
header 
*******/

h1 {
  color: #ffc23e;
  text-align: center;
  font-size: 4em;
  margin: 0;
  padding: 0;
}
li {
  color: #fa31b5;
  font-size: 1.7em;
}
nav ul {
  list-style: none;
  margin: 5px 0 0;
}
nav a {
  color: #fa31b5;
  text-decoration: none;
}
nav a:hover {
  color: #ffc23e;
}

/******* 
main 
*******/

h2 {
  color: #ffc23e;
  text-align: center;
  font-size: 2em;
}
table,
th,
td {
  border: 1px solid white;
  margin: 0 auto;
}
th {
  padding: 10px 40px;
}
img {
  margin-left: 5.22em;
  width: 355px;
  height: 235px;
  border-radius: 10px;
}
.game-choices {
  color: white;
  text-align: center;
  font-size: 1.7em;
  margin: 15px 0;
}
.user-choices {
  display: flex;
  justify-content: center;
}
.user-choices button {
  background-color: #ffc23e;
  color: rgb(49, 8, 125);
  font-size: 1.5em;
  padding: 0.25em;
  margin: 0.25em;
  border-radius: 10px;
  border-color: #ffc23e;
  box-shadow: 8px 5px 10px rgb(22, 22, 22);
}
.score-title,
.scores {
  color: white;
  text-align: center;
  font-size: 1.2em;
}
#result,
#result-explanation {
  color: white;
  text-align: center;
  font-size: 2em;
  margin: 10px;
}

.restart-button {
  display: flex;
  justify-content: flex-end;
}
#clear-scoreboard {
  background-color: #ffc23e;
  color: rgb(49, 8, 125);
  font-size: 1.5em;
  padding: 0.15em;
  margin: 3em 0.5em 0.5em;
  border-radius: 10px;
  border-color: #ffc23e;
  box-shadow: 8px 5px 10px rgb(22, 22, 22);
}
/******* 
footer 
*******/
