/* * {
  outline: 1px solid red;
} */

body {
  background: linear-gradient(
    0.25turn,
    rgb(49, 8, 125),
    rgb(98, 80, 109),
    #fa31b5
  );
  margin: 15px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/******* 
header 
*******/
h1 {
  color: #ffc23e;
  text-align: center;
  font-size: 4em;
  margin: 0;
}
li {
  color: #fa31b5;
  font-size: 1.8em;
}
nav ul {
  list-style: none;
}
nav a {
  color: #fa31b5;
  text-decoration: none;
}
nav a:hover {
  color: #ffc23e;
}

/******* 
main 
*******/

h2 {
  text-align: center;
  font-size: 2.8em;
  margin: 5px 0;
}
h2 a {
  color: #fa31b5;
  text-decoration: none;
}
h2 a:hover {
  color: #ffc23e;
}
img {
  padding: 1em;
  margin: 1em;
  width: 100%;
  max-width: 750px;
  max-height: 550px;
}
main > .home-page-image {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

/******* 
footer 
*******/
.credit {
  color: white;
  font-size: 1.2em;
}
