body {
  background-color: #31087b;
  margin: 0;
  padding: 0;
}

h1 {
  color: #ffc23e;
  text-align: center;
}
h2 {
  text-align: center;
}
h2 a {
  color: #fa31b5;
  text-decoration: none;
}
h2 a:hover {
  color: #ffc23e;
}
li {
  color: #fa31b5;
}
nav ul {
  list-style: none;
}
nav a {
  color: #fa31b5;
  text-decoration: none;
}
nav a:hover {
  color: #ffc23e;
}
